{% extends 'base.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block body %}
    <h1>Assign new Doctor</h1>
<div class="card">
<div class="card-body">
    {{ include('doctor/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_doctor_index') }}">back to list</a>
    </div>
{% endblock %}
