{% extends 'base.html.twig' %}

{% block title %}Edit CaseCategory{% endblock %}

{% block body %}
    <h1>Edit CaseCategory</h1>

    {{ include('case_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_case_category_index') }}">back to list</a>

    {{ include('case_category/_delete_form.html.twig') }}
{% endblock %}
