{% extends 'base.html.twig' %}

{% block title %}New CaseCategory{% endblock %}

{% block body %}
    <h1>Create new CaseCategory</h1>

    {{ include('case_category/_form.html.twig') }}

    <a href="{{ path('app_case_category_index') }}">back to list</a>
{% endblock %}
