<form method="post" action="{{ path('app_consultation_request_delete', {'id': consultation_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation_request.id) }}">
    <button class="btn">Delete</button>
</form>
