{% extends 'base.html.twig' %}

{% block title %}Send  Consultation{% endblock %}


{% block body %}
    <h1>Send  Consultation</h1>

    {{ include('consultation_request/_form.html.twig') }}

    <a href="{{ path('app_consultation_request_index') }}">back to list</a>
{% endblock %}
